
:root{
    --blue1: #002b55;
    --blue2: #174c82;
    --blue3: #3182d4;
    --blue4: #5084b8;
    --green1: #078d73;
}

body{
    padding-top: 40px;
}
/* ESTILOS DEL INDEX */
.card {
    margin: 1em .5em;
    transition: all 300ms;
    cursor: default;
    /* box-shadow: 4px 4px var(--green1) !important; */
    /* border: 2px solid var(--blue2);
  box-shadow: 4px 4px var(--blue2) !important;
  border-radius: 5px; */
  box-shadow: 13px 11px 9px -11px rgba(0,0,0,0.35) !important;
  /* box-shadow: 13px 11px 9px -11px var(--green1) !important; */
  -webkit-box-shadow: 13px 11px 9px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 11px 9px -11px rgba(0,0,0,0.75);
}

h4{
    color: var(--blue1);
  }

.card:hover{
    transform: scale(1.03);
}

.img_d_card{
    object-fit: contain;
    height: 200px;
}

#navbar1{
    top: 0;
    position: fixed;
    width: 100%;
    opacity: .96;
    z-index: 1000;
    /* background-color: var(--blue1) !important; */
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(0,43,85,1) 28%, rgba(0,212,255,1) 100%); */
    /* background: rgb(2,0,36); */

    /* background: rgb(15,49,73);
    background: linear-gradient(90deg, rgba(15,49,73,1) 0%, rgba(7,141,115,1) 38%, rgba(0,212,255,1) 100%); */
    background-image: linear-gradient(to left, #078d73, #008083, #00708d, #005f8d, #174c82);
}
#sesionUsuario{
    width: 180px;
    margin: auto 0;
}
.sesionUsuario_container{
    padding: 8px;
    border-radius: 10px;
    transition: all 300ms;
}
.sesionUsuario_container:hover{
    transform: scale(1.05);
    background-color: var(--blue1);
    opacity: 1;
}

.most-recent{
    width: 80%;
    margin: 20px auto;
}
#most-recent-card{
    width: 80%;
    padding: 15px;
}

#most-recent-card small{
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 928px) {
    #most-recent-card{
        flex-direction: column-reverse !important;
    }
    #most-recent-card small{
        width: 100% !important;
        display: flex;
        justify-content: center;
        text-align: center;
    }   
    .card_title{
        text-align: center !important;
    }
    .card-text{
        text-align: justify;
    }
    .btn-group{
        margin: 15px auto;
    }
    .app-name-text{
        font-size: 17px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 500px){
    .most-recent{
        width: 100%;
    }   
    .app-name-text{
        font-size: 15px;
        margin-left: 10px;
    }
    .sesionUsuario_container,.sesionUsuario{
        width: 60px;
        display: flex;
        justify-content: center;

    }
    .textUser{
        display: none;
    }
}

#crearHistoriaBtn{
    margin: 1em auto;
    background-color: #078d73 !important;
    transition: all 300ms;
}

#crearHistoriaBtn:hover{
    /* background-color: #0dcea8 !important; */
    background-image: linear-gradient(to right, #078d73, #008083, #00708d, #005f8d, #174c82);
    transform: scale(1.05);
}

.divisor1{
    height: 4px;
    border: none;
    width: 80%;
    margin: 0 auto;
    background-color: var(--green1) !important;
}

hr{
    height: 2px;
    border: none;
    width: 100%;
    /* margin: 0 auto; */
    background-color: var(--blue4) !important;

}

.card-body{
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

footer{
    /* background-color: #002b55; */
    background: rgb(2,0,36);
    /* Opcion1 */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(0,43,85,1) 28%, rgba(0,212,255,1) 100%);
    */
    color: white; 
    background: rgb(15,49,73);
    background: linear-gradient(90deg, rgba(15,49,73,1) 0%, rgba(7,141,115,1) 38%, rgba(0,212,255,1) 100%);
    background-image: linear-gradient(to right, #078d73, #008083, #00708d, #005f8d, #174c82);
}

.ultima-mod{
    background-color: var(--blue1);
    opacity: .8;
    color: white;
    padding: 4px;
}

.btn-publicar{
    transform: all 300ms;
}
.btn-publicar:hover{
    background-color: var(--green1);
}
.btn-editar:hover{
    background-color: var(--blue3);
}
#logoPrincipal:hover{
    transition: all 300ms;
}

    #logoPrincipal:hover{
    transform: scale(1.08);
}
#logoPrincipal svg{
    transition: all 500ms;
}
    #logoPrincipal:hover  > svg{
    transform: rotate(360deg);
}